html,
body {
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p {
  line-height: 1.35;
}

body {
  font-family: var(--fontone);
  color: var(--color-text);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to bottom,
    rgb(218 235 251),
    rgb(196 233 255)
  );
  background-attachment: fixed;
}

header {
  color: var(--color-text);
  margin: 7rem 0;
}

h1 {
  text-align: center;
  margin: 0 0.5rem;
  font-size: var(--heading-1);
  font-feature-settings: 'smcp';
  font-variant: small-caps;
  color: var(--color-primary);
}

h2 {
  text-align: center;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  margin-bottom: 3rem;
}

section.wrapper {
  width: 100%;
  max-width: 625px;
  overflow: scroll;
  padding: 0 1.25rem;
}

.app section label {
  display: flex;
  flex-direction: column;
  color: var(--color-gray);
  width: 100%;
  font-size: 1.25rem;
  font-variant: all-small-caps;
}

.form-section label::after {
  /* content: '.00'; */
  display: inline-block;
  position: absolute;
  right: 46.25%;
}

.data-table {
  margin: 3rem 0;
  background: var(--color-darkblue);
  border-radius: 5px;
  border: none;
  min-height: 396px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 14%), 0 3px 3px -2px rgb(0 0 0 / 12%),
    0 1px 8px 0 rgb(0 0 0 / 20%);
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 50px;
}

select {
  margin: 0.35rem 0.5rem 0.35rem 0.5rem;
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;
  height: 42px;
  color: var(--color-white);
  letter-spacing: 0.5px;
  width: 67px;
  font-size: 0.87rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5em;
  padding: 12px 3px;
  cursor: pointer;
  background: var(--color-lightblue);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

select:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  line-height: 2.5;
  vertical-align: middle;
  text-align: right;
  border-bottom: 1px dotted var(--color-bluegray);
}

.form-section input {
  margin: 10px 0 10px 0;
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  padding: 10px 15px;
  border: none;
  background: transparent;
  font-size: 2rem;
}

.form-section input:focus {
  background-color: transparent;
  border: none;
  outline: none;
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.crypto-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  padding: 2rem 0;
  border: none;
  height: 35vh;
  min-height: 340px;
}

.crypto-table tr {
  border-bottom: 1px solid var(--color-bluegray);
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  width: fit-content;
  background: var(--color-darkblue);
}

.crypto-table tr td {
  margin-left: 0;
  text-align: left;
  margin-right: 2rem;
  padding: 15px;
  width: 80px;
  font-weight: 500;
  color: var(--color-white);
}

.crypto-table tr td:last-child {
  margin-right: 0;
  margin-left: 2rem;
  text-align: right;
  display: flex;
}
