html,
body {
  padding: 0;
  margin: 0;
}



*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: var(--fontone);
  color:  var(--color-text);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to bottom,
    rgb(124, 171, 214),
    rgb(73, 167, 211)
  );
  background-attachment: fixed;
}

header {
  color: var(--color-text);
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

h2 {
  text-align: center;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.app section {
  width: 275px;
}

.app section label {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.data-table {
  margin: 3rem 0;
}

.select-fiat {
  margin: 10px 0 0 0;
  padding: 7px 15px;
  width: 190px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.form-section input {
  margin: 10px 0 10px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-purple);
  justify-content: center;
  display: flex;
  padding: 10px 15px;
}

.crypto-table {
  border: 1px dashed var(--color-text);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background-color: var(--color-blue);
  padding: 1.5rem 0;
}

.crypto-table tr {
  border-bottom: 1px solid var(--color-text);
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  width: fit-content;
  background: var(--color-red);
  min-width: 200px;
}

.crypto-table tr td {
  margin-left: 0;
  text-align: left;
  margin-right: 2rem;
  padding: 15px;
  width: 80px;
  font-weight: 500;
  color: var(--color-white);
 
}

.crypto-table tr td:last-child {
  margin-right: 0;
  margin-left: 2rem;
  text-align: right;
  display: flex;
  color: var(--color-black);
}