@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&family=Source+Code+Pro:wght@300;400&display=swap');

:root {
    --color-purple: #2f3350;
    --color-blue: #487fa4;
    --color-white: #ffebee;
    --color-red: #ff5722;
    --color-yellow: #ded010;
    --color-lime: #cddc39;
    --color-text: #333;
    --color-black: #2b2b2b;
    --color-gray: #666;

    --fontone: 'Be Vietnam Pro', sans-serif;
    --fontcode: 'Source Code Pro', monospace;

    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    --font-base: 1rem;
    --heading-1: 2.75rem;
    --heading-2: 2rem;
    --heading-3: 1.75rem;

}



*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
   font-size: var(--font-base);
   line-height: 1;
   margin: 0;
   padding: 0;
}