@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&family=Source+Code+Pro:wght@300;400&display=swap');

:root {
    --color-primary: #395266;
    --color-gray: #69696B;

    --color-darkblue: #354a5c;
    --color-lightblue: #3f79a6;

    --color-bluegray: #7a859a;
    --color-border: #407298;

    --color-white: #f6ecee;

    --color-text: #333;
    --color-black: #2b2b2b;
    --color-gray: #666;

    --fontone: 'Be Vietnam Pro', sans-serif;
    --fontcode: 'Source Code Pro', monospace;

    --select-border: #777;
    
    --select-arrow: var(--select-border);
    --font-base: 16px;
    --heading-1: 2.75rem;
    --heading-2: 2rem;
    --heading-3: 1.75rem;

}



*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
   font-size: var(--font-base);
   line-height: 1;
   margin: 0;
   padding: 0;
}