@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&family=Source+Code+Pro:wght@300;400&display=swap');

:root {
    --color-purple: #2f3350;
    --color-blue: #1565c0;
    --color-white: #ffffff;
    --color-red: #b02020;
    --color-yellow: #ded010;
    --color-text: #333;
    --color-gray: #666;

    --fontone: 'Be Vietnam Pro', sans-serif;
    --fontcode: 'Source Code Pro', monospace;

}